.pauseTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 50vw;
    margin-top: 40vh;
    transform: translate(-50%);
    color: white;
    z-index: 100;
    font-size: 30px;
    background-color: #0085FF;
    border-radius: 100% ;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    margin-left: 50vw;
    transform: translate(-50%);
    color: white;
    z-index: 100;
    padding: 20px;
}

.messageChoose{
    margin-top: 50vh;
    font-size: 32px;
}

.messageOption1{
    margin-top: 60vh;
    font-size: 24px;
}

.messageOption2{
    margin-top: 65vh;
    font-size: 24px;
}

.hide {
    display: none !important;
}